@import "../../../../shared/styles/mixins";

.calendar {
  display: flex;
  flex-direction: column;
  height: 603px;
  border-radius: 8px;
  background-color: var(--main-white-color);
  border: 1px solid #dce3e5cc;
  @include scrollbar(y);
}

.weekDates {
  display: flex;
}

.dateItem {
  width: 156px;
  height: 125px;
  padding: 8px;
  padding-top: 14px;
  border: 1px solid #dce3e5cc;
  overflow: hidden;

  border-left: none;
  border-bottom: none;

  &:last-child {
    border-right: none;
  }
}

.hoverItem:hover {
  cursor: pointer;
}

.datesRow {
  &:first-child .dateItem {
    border-top: none;
  }
  &:last-child .dateItem {
    border-bottom: none;
  }
}

.date {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  margin-left: auto;
  border-radius: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #343434;

  &.current {
    background-color: var(--main-blue-color);
    color: var(--main-white-color);
  }
}

.task {
  height: 26px;
  border-radius: 8px;

  padding: 4px 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  overflow: hidden;

  &.low {
    color: var(--low-priority-color);
    background-color: #ceeefd;
  }
  &.medium {
    color: var(--medium-priority-color);
    background-color: #fcf0d4;
  }
  &.high {
    color: var(--high-priority-color);
    background-color: #ffd2dd;
  }

  &:not(:last-child) {
    margin-bottom: 2px;
  }
}
