html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button {
  transform: scale(1);
  transition: transform 0.2s linear;
  &:active {
    transform: scale(0.97);
  }

  &:hover {
    cursor: pointer;
  }
}
