@font-face {
    font-family: 'Coolvetica';
    src: local('Coolvetica Regular'), local('Coolvetica-Regular'),
        url('../fonts/Coolvetica/CoolveticaRg-Regular.woff2') format('woff2'),
        url('../fonts/Coolvetica/CoolveticaRg-Regular.woff') format('woff'),
        url('../fonts/Coolvetica/CoolveticaRg-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }