@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin main-input {
  height: 54px;
  width: 100%;
  padding-left: 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--main-black-color);

  background: none;
  border: 1px solid #dce3e599;
  border-radius: 8px;

  &::placeholder {
    color: #dce3e5;
  }
}
