:root {
  --main-blue-color: #3e85f3;
  --main-white-color: #fff;
  --main-black-color: #111111;

  --auth-bg-color: #dcebf7;

  --sidebar-title-font: "Coolvetica", sans-serif;

  --low-priority-color: #72c2f8;
  --medium-priority-color: #f3b249;
  --high-priority-color: #ea3d65;
}
