@import "../../../../shared/styles/mixins";

.table {
  display: flex;
  height: 603px;
  background-color: var(--main-white-color);
  border-radius: 8px;
  @include scrollbar(y);
}

.table,
.timeItem,
.dayItem {
  border: 1px solid #dce3e5cc;
}

.timeColumn {
  display: flex;
  flex-direction: column;
}

.timeItem {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 30px;

  border-left: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #343434;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.dayColumn {
  display: flex;
  flex-direction: column;
  height: 30px;
  // overflow: hidden;

  &:not(:first-child) {
    width: 146px;
  }

  &:last-child .dayItem {
    border-right: none;
  }
}

.dayItem {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: none;
  }
}

.timeItem,
.dayItem {
  border-left: none;
  border-bottom: none;
}

.taskItem {
  position: absolute;
  top: 0;
  width: 134px;
  padding: 4px;
  display: flex;
  // align-items: center;
  overflow: hidden;

  background-color: green;
  border-radius: 8px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  z-index: 1;

  cursor: pointer;

  @include week-task-height("&");

  &.low {
    background-color: var(--low-priority-color);
    color: #3e85f3;
  }
  &.medium {
    background-color: #fcf0d4;
    color: var(--medium-priority-color);
  }
  &.high {
    background-color: #ffd2dd;
    color: var(--high-priority-color);
  }
}
